

@import url('https://fonts.googleapis.com/css?family=K2D');

@import url('https://fonts.googleapis.com/css?family=Mali');



body{
	background-color: #FF89BC;
}



h1, p{
	color: #2D00FF;
}

h1{
	background-color: green;
}


h1,p,li{
	text-align: center;

}


p{
	font-style: italic;
}




p{
	font-size: 24px;
}

h1{
	text-decoration: underline;
	font-family: 'K2D', san-serif;
}

body{
	text-align: center;
}


li{
	font-family: 'Mali', cursive;

}

header{
	background-color: #FFED74;
}

nav{
	background-color: #E8C66A;
}



article{
	background-color: #E89C6C;
}

footer{
	background-color: #FF957E;
}

div/section{
	background-color: #FFE2B8;
}

main{
	background-color: #FFE2B8
}


#two_column{
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left{
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: pink;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

